header {
  font-size: 18px;
  color: #555;
  text-transform: uppercase;
  padding: 0 0 8px 0;
  font-weight: 700;
  position: relative;
  transition: 0.5s;
  margin: 20px 0 0;
}
header:hover {
  color: rgb(0, 0, 0);
}
header::after,
header::before {
  transition: 0.5s;
  content: "";
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
}
header::after {
  width: calc(100% - 40px);
  background-color: #eee;
}
header::before {
  background-color: blue;
  width: 200px;
  z-index: 1;
}
header:hover::before {
  transition: 0.5s;
  width: calc(100% - 40px);
}
.sec {
  height: 200px;
  max-width: 600px;
}
@media only screen and (min-width: 991px) {
  .sec {
    max-width: 50%;
  }
}
div {
  margin: 0;
  padding: 0;
}
.category-image {
  width: 100%;
  cursor: pointer;
  transition: 0.5s;
}
.category-image:hover {
  background-color: #eee;
  transition: 0.5s;
}
.my-container {
  margin: 0 40px;
}
@media only screen and (max-width: 1200px) {
  .my-container {
    margin: 0 5px;
  }
}
.product-title {
  height: 100px;
  overflow: hidden;
  cursor: pointer;
}
.product-title:hover {
  color: #555;
}
.discount {
  background-color: yellow;
  border-radius: 50%;
  font-weight: bold;
  padding: 10px 5px;
  font-size: 15px;
  position: fixed;
  top: 0;
}
.favorite-button {
  position: fixed;
  top: 0;
}
.modall {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 300px;
  background-color: #eee;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.03);
  z-index: 1000;
}

.modall-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
  background-color: #f8f9fa;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.modall-title {
  font-size: 16px;
  font-weight: bold;
}

.close-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.modall-body {
  padding: 10px;
  font-size: 14px;
  line-height: 1.5;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.modall-body a {
  margin-left: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.modall-body a:hover {
  transition: 0.3s;
  color: #027cff;
}
.modall-body p:first-child {
  height: 50px;
}
.modall-body img {
  width: 70px;
  height: 70px;
}
