<app-landing class="row my-container"></app-landing>
<div class="row my-container mt-4">
  <header>Shop by Categories</header>
  <p-progressSpinner ariaLabel="loading" *ngIf="!categories[0]" />
  <p-carousel
    [value]="categories"
    [numVisible]="6"
    [numScroll]="3"
    [responsiveOptions]="responsiveOptions"
    [ngStyle]="{ margin: '0', padding: '0' }"
    [showIndicators]="false"
    *ngIf="categories[0]"
  >
    <ng-template let-category pTemplate="item">
      <div class="border-round text-center py-1">
        <img
          [src]="category.image"
          [alt]="category.name"
          class="category-image"
          (click)="getProductByCategory(category)"
        />
      </div>
    </ng-template>
  </p-carousel>
</div>

<!-- Special Offers -->
<div class="row my-container mt-4">
  <header>Special Offers</header>
  <p-progressSpinner ariaLabel="loading" *ngIf="!specialOffers[0]" />
  <p-carousel
    [value]="specialOffers"
    [numVisible]="6"
    [numScroll]="3"
    [circular]="true"
    [responsiveOptions]="responsiveOptions"
    [showIndicators]="false"
    [style]="{ padding: '10px 0 0' }"
    *ngIf="specialOffers[0]"
  >
    <ng-template let-product pTemplate="item">
      <div class="border-round text-center" [style]="{ padding: '20px' }">
        <div>
          <img [src]="product.images[0]" [alt]="product.title" width="100%" />
        </div>
        <div>
          <h6 class="product-title" routerLink="/product/{{ product._id }}">
            {{ product.title }}
          </h6>
          <h6 class="mb-3 d-flex justify-content-evenly">
            <del *ngIf="product.discount > 0">{{ product.price }}EGP</del>
            <p>{{ product.priceAfterDiscount }}EGP</p>
          </h6>
          <div class="car-buttons">
            <p-button
              type="button"
              styleClass="p-button p-button-rounded"
              icon="pi pi-search"
              routerLink="/product/{{ product._id }}"
            ></p-button>
            <p-button
              type="button"
              styleClass="p-button-success p-button-rounded"
              icon="pi pi-cart-plus"
              (onClick)="addToCart(product)"
            ></p-button>
            <i
              [ngStyle]="{ position: 'fixed', top: '0' }"
              (click)="addToWishlist(product)"
              *ngIf="!isInWishlist(product._id)"
              class="pi pi-heart"
            ></i>
            <i
              [ngStyle]="{ position: 'fixed', top: '0' }"
              (click)="RemoveFromWishlist(product)"
              *ngIf="isInWishlist(product._id)"
              class="pi pi-heart-fill"
            ></i>
            <p class="discount" *ngIf="product.discount > 0">
              {{ product.discount }}%
            </p>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>

<!-- New Arrival -->
<div class="row my-container mt-4">
  <header>New Arrival</header>
  <p-progressSpinner ariaLabel="loading" *ngIf="!newArrival[0]" />
  <p-carousel
    [value]="newArrival"
    [numVisible]="6"
    [numScroll]="3"
    [circular]="true"
    [responsiveOptions]="responsiveOptions"
    [showIndicators]="false"
    [style]="{ padding: '10px 0 0' }"
    *ngIf="newArrival[0]"
  >
    <ng-template let-product pTemplate="item">
      <div class="border-round text-center" [style]="{ padding: '20px' }">
        <div>
          <img [src]="product.images[0]" [alt]="product.title" width="100%" />
        </div>
        <div>
          <h6 class="product-title" routerLink="/product/{{ product._id }}">
            {{ product.title }}
          </h6>
          <h6 class="mb-3 d-flex justify-content-evenly">
            <del *ngIf="product.discount > 0">{{ product.price }}EGP</del>
            <p>{{ product.priceAfterDiscount }}EGP</p>
          </h6>
          <div class="car-buttons">
            <p-button
              type="button"
              styleClass="p-button p-button-rounded"
              icon="pi pi-search"
              routerLink="/product/{{ product._id }}"
            ></p-button>
            <p-button
              type="button"
              styleClass="p-button-success p-button-rounded"
              icon="pi pi-cart-plus"
              (onClick)="addToCart(product)"
            ></p-button>
            <i
              [ngStyle]="{ position: 'fixed', top: '0' }"
              (click)="addToWishlist(product)"
              *ngIf="!isInWishlist(product._id)"
              class="pi pi-heart"
            ></i>
            <i
              [ngStyle]="{ position: 'fixed', top: '0' }"
              (click)="RemoveFromWishlist(product)"
              *ngIf="isInWishlist(product._id)"
              class="pi pi-heart-fill"
            ></i>
            <p class="discount" *ngIf="product.discount > 0">
              {{ product.discount }}%
            </p>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>

<div class="row my-container mt-4">
  <div class="col-xl-10 col-lg-12">
    <div class="d-flex flex-wrap justify-content-evenly">
      <img src="../../../assets/sec1.1.jpg" class="sec p-1 w-100" />
      <img src="../../../assets/sec1.2.jpg" class="sec p-1 w-100" />
    </div>
    <div *ngFor="let item of ids">
      <header>{{ item.name }}</header>
      <p-progressSpinner ariaLabel="loading" *ngIf="!item.products[0]" />
      <p-carousel
        [value]="item.products"
        [numVisible]="6"
        [numScroll]="3"
        [circular]="true"
        [responsiveOptions]="responsiveOptions"
        [showIndicators]="false"
        [style]="{ padding: '10px 0 0' }"
        *ngIf="item.products[0]"
      >
        <ng-template let-product pTemplate="item">
          <div class="border-round text-center" [style]="{ padding: '20px' }">
            <div>
              <img
                [src]="product.images[0]"
                [alt]="product.title"
                width="100%"
              />
            </div>
            <div>
              <h6 class="product-title" routerLink="/product/{{ product._id }}">
                {{ product.title }}
              </h6>
              <h6 class="mb-3 d-flex justify-content-evenly">
                <del *ngIf="product.discount > 0">{{ product.price }}EGP</del>
                <p>{{ product.priceAfterDiscount }}EGP</p>
              </h6>
              <div class="car-buttons">
                <p-button
                  type="button"
                  styleClass="p-button p-button-rounded"
                  icon="pi pi-search"
                  routerLink="/product/{{ product._id }}"
                ></p-button>
                <p-button
                  type="button"
                  styleClass="p-button-success p-button-rounded"
                  icon="pi pi-cart-plus"
                  (onClick)="addToCart(product)"
                ></p-button>
                <i
                  [ngStyle]="{ position: 'fixed', top: '0' }"
                  (click)="addToWishlist(product)"
                  *ngIf="!isInWishlist(product._id)"
                  class="pi pi-heart"
                ></i>
                <i
                  [ngStyle]="{ position: 'fixed', top: '0' }"
                  (click)="RemoveFromWishlist(product)"
                  *ngIf="isInWishlist(product._id)"
                  class="pi pi-heart-fill"
                ></i>
                <p class="discount" *ngIf="product.discount > 0">
                  {{ product.discount }}%
                </p>
              </div>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
    <div class="d-flex flex-wrap justify-content-evenly">
      <img src="../../../assets/advertise/R.jpg" class="sec p-1 w-100" />
      <img src="../../../assets/advertise/R.jpg" class="sec p-1 w-100" />
    </div>
  </div>
  <div
    class="col-xl-2 col-lg-12 d-flex flex-xl-column flex-row flex-wrap align-items-center"
  >
    <img src="../../../assets/side/side1.jpg" width="200px" />
    <img src="../../../assets/side/side2.jpg" width="200px" class="mt-1" />
    <img src="../../../assets/side/side3.jpg" width="200px" class="mt-1" />
    <img src="../../../assets/side/side4.jpg" width="200px" class="mt-1" />
    <img src="../../../assets/side/side5.jpg" width="200px" class="mt-1" />
  </div>
</div>

<div class="row my-container mt-4">
  <header>Shop by Brands</header>
  <p-progressSpinner ariaLabel="loading" *ngIf="!brands[0]" />
  <p-carousel
    [value]="brands"
    [numVisible]="6"
    [numScroll]="3"
    [circular]="true"
    [responsiveOptions]="responsiveOptions"
    [showIndicators]="false"
    *ngIf="brands[0]"
  >
    <ng-template let-brand pTemplate="item">
      <div class="border-round text-center py-3 px-2">
        <img
          [src]="brand.image"
          [alt]="brand.name"
          class="category-image"
          (click)="getProductByBrand(brand)"
        />
      </div>
    </ng-template>
  </p-carousel>
</div>

<div class="modall" *ngIf="showModal">
  <div class="modall-header">
    <span class="modall-title">Product added to Cart</span>
    <button class="close-btn" (click)="closeModal()">&times;</button>
  </div>
  <div class="modall-body">
    <img [src]="product.images[0]" alt="" />
    <a routerLink="/cart" style="text-decoration: none">{{
      product.title
    }}</a>
  </div>
</div>

<p-toast></p-toast>
