<app-landing class="row my-container"></app-landing>
<div class="row my-container mt-4">
  <header>Shop by Categories</header>
  <p-progressSpinner ariaLabel="loading" *ngIf="!categories[0]" />
  <p-carousel
    [value]="categories"
    [numVisible]="6"
    [numScroll]="3"
    [responsiveOptions]="responsiveOptions"
    [ngStyle]="{ margin: '0', padding: '0' }"
    [showIndicators]="false"
    *ngIf="categories[0]"
  >
    <ng-template let-category pTemplate="item">
      <app-home-category-card [category]="category"></app-home-category-card>
    </ng-template>
  </p-carousel>
</div>

<!-- Special Offers -->
<div class="row my-container mt-4">
  <header>Special Offers</header>
  <p-progressSpinner ariaLabel="loading" *ngIf="!specialOffers[0]" />
  <p-carousel
    [value]="specialOffers"
    [numVisible]="6"
    [numScroll]="3"
    [circular]="true"
    [responsiveOptions]="responsiveOptions"
    [showIndicators]="false"
    [style]="{ padding: '10px 0 0' }"
    *ngIf="specialOffers[0]"
  >
    <ng-template let-product pTemplate="item">
      <app-home-product-card
        (notifyParent)="addToCart($event)"
        [product]="product"
        [wishlist]="wishlist"
      ></app-home-product-card>
    </ng-template>
  </p-carousel>
</div>

<!-- New Arrival -->
<div class="row my-container mt-4">
  <header>New Arrival</header>
  <p-progressSpinner ariaLabel="loading" *ngIf="!newArrival[0]" />
  <p-carousel
    [value]="newArrival"
    [numVisible]="6"
    [numScroll]="3"
    [circular]="true"
    [responsiveOptions]="responsiveOptions"
    [showIndicators]="false"
    [style]="{ padding: '10px 0 0' }"
    *ngIf="newArrival[0]"
  >
    <ng-template let-product pTemplate="item">
      <app-home-product-card
        (notifyParent)="addToCart($event)"
        [product]="product"
      ></app-home-product-card>
    </ng-template>
  </p-carousel>
</div>

<div class="row my-container mt-4">
  <div class="col-xl-10 col-lg-12">
    <div class="d-flex flex-wrap justify-content-evenly">
      <img src="../../../assets/sec1.1.jpg" class="sec p-1 w-100" />
      <img src="../../../assets/sec1.2.jpg" class="sec p-1 w-100" />
    </div>
    <div *ngFor="let item of ids">
      <header>{{ item.name }}</header>
      <p-progressSpinner ariaLabel="loading" *ngIf="!item.products[0]" />
      <p-carousel
        [value]="item.products"
        [numVisible]="6"
        [numScroll]="3"
        [circular]="true"
        [responsiveOptions]="responsiveOptions"
        [showIndicators]="false"
        [style]="{ padding: '10px 0 0' }"
        *ngIf="item.products[0]"
      >
        <ng-template let-product pTemplate="item">
          <app-home-product-card
            (notifyParent)="addToCart($event)"
            [product]="product"
          ></app-home-product-card>
        </ng-template>
      </p-carousel>
    </div>
    <div class="d-flex flex-wrap justify-content-evenly">
      <img src="../../../assets/advertise/R.jpg" class="sec p-1 w-100" />
      <img src="../../../assets/advertise/R.jpg" class="sec p-1 w-100" />
    </div>
  </div>
  <div
    class="col-xl-2 col-lg-12 d-flex flex-xl-column flex-row flex-wrap align-items-center"
  >
    <img src="../../../assets/side/side1.jpg" width="200px" />
    <img src="../../../assets/side/side2.jpg" width="200px" class="mt-1" />
    <img src="../../../assets/side/side3.jpg" width="200px" class="mt-1" />
    <img src="../../../assets/side/side4.jpg" width="200px" class="mt-1" />
    <img src="../../../assets/side/side5.jpg" width="200px" class="mt-1" />
  </div>
</div>

<!-- Brands -->
<div class="row my-container mt-4">
  <header>Shop by Brands</header>
  <p-progressSpinner ariaLabel="loading" *ngIf="!brands[0]" />
  <p-carousel
    [value]="brands"
    [numVisible]="6"
    [numScroll]="3"
    [circular]="true"
    [responsiveOptions]="responsiveOptions"
    [showIndicators]="false"
    *ngIf="brands[0]"
  >
    <ng-template let-brand pTemplate="item">
      <app-home-brand-card [brand]="brand"></app-home-brand-card>
    </ng-template>
  </p-carousel>
</div>

<div class="my-modal" *ngIf="showModal">
  <div class="my-modal-header">
    <span class="my-modal-title">Product added to Cart</span>
    <button class="close-btn" (click)="closeModal()">&times;</button>
  </div>
  <div class="my-modal-body">
    <img [src]="product.images[0]" alt="" />
    <a routerLink="/user/cart" style="text-decoration: none">{{ product.title }}</a>
  </div>
</div>
