header {
  font-size: 18px;
  color: #555;
  text-transform: uppercase;
  padding: 0 0 8px 0;
  font-weight: 700;
  position: relative;
  transition: 0.5s;
}
header:hover {
  color: rgb(0, 0, 0);
}
header::after,
header::before {
  transition: 0.5s;
  content: "";
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
}
header::after {
  width: calc(100% - 40px);
  background-color: #eee;
}
header::before {
  background-color: blue;
  width: 200px;
  z-index: 1;
}
header:hover::before {
  transition: 0.5s;
  width: calc(100% - 40px);
}
.sec {
  height: 200px;
  max-width: 600px;
}
@media only screen and (min-width: 991px) {
  .sec {
    max-width: 50%;
  }
}
div {
  margin: 0;
  padding: 0;
}
.category-image {
  max-height: 190px;
  cursor: pointer;
  transition: 0.5s;
}
.category-image:hover {
  background-color: #eee;
  transition: 0.5s;
}
