<body>
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>
  <form [formGroup]="loginForm" (submit)="submit()">
    <h3>Login Here</h3>
    <div class="d-flex flex-column gap-1 mt-2">
      <label htmlFor="email">Email*</label>
      <input
        pInputText
        id="email"
        placeholder="test@email.co"
        formControlName="email"
        [ngClass]="{
          'is-invalid': control['email'].touched && control['email'].invalid
        }"
      />
      <div
        *ngIf="control['email'].touched && control['email'].invalid"
        class="invalid-feedback"
      >
        <div *ngIf="control['email'].errors?.['required']">Email Required</div>
        <div *ngIf="control['email'].errors?.['email']">Incorect Email</div>
      </div>
    </div>
    <div class="d-flex flex-column gap-1 mt-2">
      <label>Password*</label>
      <input
        formControlName="password"
        placeholder="********"
        type="password"
        [ngClass]="{
          'is-invalid':
            control['password'].touched && control['password'].invalid
        }"
      />
      <div
        *ngIf="control['password'].touched && control['password'].invalid"
        class="invalid-feedback"
      >
        Password Required
      </div>
    </div>
    <div class="d-flex justify-content-center mt-4">
      <p-button
        label="Login"
        [loading]="loading"
        type="submit"
        [disabled]="loginForm.invalid"
      ></p-button>
    </div>
    <div class="d-flex justify-content-between">
      <a routerLink="verify">Forgot Password?</a>
      <a routerLink="register">Register</a>
    </div>
  </form>
</body>
