<div class="card">
  <p-toolbar class="gap-2">
    <app-sidebar></app-sidebar>
    <ng-template pTemplate="left"></ng-template>
  </p-toolbar>

  <!--e
    <ng-template pTemplate="body" let-order>
      <tr>
        <td>
          {{ order._id }}
        </td>
        <td>{{ order.user.fname + " " + order.user.lname }}</td>
        <td>{{ order.cartItems.length }}</td>
        <td>{{ order.totalOrderPrice }} EGP</td>
        <td>
          {{ order.paymentMethodType }}
        </td>
        <td ngClass="{{ order.isDelivered ? 'text-success' : 'text-danger' }}">
          {{ order.isDelivered }}
        </td>
        <td>
          <p
            ngClass="{{ order.deliveredAt ? 'text-success' : 'text-warning' }}"
          >
            {{ order.deliveredAt ? (order.deliveredAt | date) : "Pending" }}
          </p>
        </td>
        <td>
          <p>{{ order.updatedAt | date }}</p>
        </td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success me-2"
            (click)="openOrder(order)"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-warning"
            (click)="deleteOrder(order)"
          ></button>
        </td>
      </tr>
    </ng-template>


  </p-table> -->
  <p-table
    [value]="orders"
    dataKey="_id"
    [tableStyle]="{ 'min-width': '60rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 5rem"></th>
        <th pSortableColumn="user.fname">
          Name <p-sortIcon field="user.fname"></p-sortIcon>
        </th>
        <th pSortableColumn="createdAt">
          createdAt <p-sortIcon field="createdAt"></p-sortIcon>
        </th>
        <th pSortableColumn="totalOrderPrice">
          Price <p-sortIcon field="totalOrderPrice"></p-sortIcon>
        </th>
        <th>Is Delivered</th>
        <th pSortableColumn="isDelivered">
          Status <p-sortIcon field="isDelivered"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-order let-expanded="expanded">
      <tr>
        <td>
          <button
            type="button"
            pButton
            pRipple
            [pRowToggler]="order"
            class="p-button-text p-button-rounded p-button-plain"
            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
          ></button>
        </td>
        <td>{{ order.user.fname + " " + order.user.lname }}</td>
        <td>{{ order.createdAt | date }}</td>
        <td>{{ order.totalOrderPrice | currency : "EGP" }}</td>
        <td [class]="order.isDelivered ? 'text-success' : 'text-warning'">
          {{ order.isDelivered }}
        </td>
        <td>
          <span [class]="order.isDelivered ? 'text-success' : 'text-warning'">{{
            order.isDelivered ? "Delivered" : "Pending"
          }}</span>
        </td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success me-2"
            (click)="openOrder(order)"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-warning"
            (click)="deleteOrder(order)"
          ></button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="rowexpansion" let-order>
      <tr>
        <td colspan="7">
          <div class="p-3">
            <p-table [value]="order.cartItems" dataKey="id">
              <ng-template pTemplate="header">
                <tr>
                  <th pSortableColumn="date">
                    image <p-sortIcon field="date"></p-sortIcon>
                  </th>
                  <th pSortableColumn="id">
                    title <p-sortIcon field="price"></p-sortIcon>
                  </th>
                  <th pSortableColumn="customer">
                    Quantity <p-sortIcon field="customer"></p-sortIcon>
                  </th>
                  <th pSortableColumn="amount">
                    Price <p-sortIcon field="amount"></p-sortIcon>
                  </th>
                  <th pSortableColumn="amount">
                    Total Price <p-sortIcon field="amount"></p-sortIcon>
                  </th>
                  <th pSortableColumn="status">
                    Stock <p-sortIcon field="status"></p-sortIcon>
                  </th>
                  <th style="width: 4rem"></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item>
                <tr>
                  <td><img [src]="item.product.images[0]" width="150px" /></td>
                  <td>{{ item.product.title }}</td>
                  <td>{{ item.quantity }}</td>
                  <td>{{ item.price | currency : "EGP" }}</td>
                  <td>{{ item.price * item.quantity | currency : "EGP" }}</td>
                  <td>
                    <span
                      [class]="
                        item.product.stock === 'INSTOCK'
                          ? 'text-success'
                          : item.product.stock === 'LOWSTOCK'
                          ? 'text-danger'
                          : 'text-warning'
                      "
                    >
                      {{ item.product.stock }}</span
                    >
                  </td>
                  <td>
                    <button
                      pButton
                      pRipple
                      icon="pi pi-pencil"
                      class="p-button-rounded p-button-success me-2"
                      (click)="openOrder(order)"
                    ></button>
                    <button
                      pButton
                      pRipple
                      icon="pi pi-trash"
                      class="p-button-rounded p-button-warning"
                      (click)="deleteOrder(order)"
                    ></button>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="6">There are no order for this product yet.</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog
  [(visible)]="orderDialog"
  header="Order Details"
  [modal]="true"
  class="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="card-body">
      <div class="row mb-4">
        <div class="d-flex justify-content-around">
          <button
            class="btn btn-success mt-2"
            [disabled]="order.isDelivered"
            (click)="updateToDelivered()"
          >
            Update To Delivered
          </button>
          <button class="btn btn-danger mt-2" [disabled]="order.isDelivered">
            Cancel Order
          </button>
        </div>
        <div class="col-12 col-md-6">
          <h4 class="mb-3">User Information</h4>
          <p>
            <strong>User:</strong>
            {{ order.user.fname + " " + order.user.lname }}
          </p>
          <p><strong>Mobile:</strong>{{ order.user.phone }}</p>
          <p><strong>City:</strong> {{ order.shippingAddress.city }}</p>
          <p><strong>Address:</strong>{{ order.shippingAddress.address }}</p>
        </div>

        <div class="col-12 col-md-6">
          <h4 class="mb-3">Order Information</h4>
          <p><strong>Order ID:</strong> {{ order._id }}</p>
          <p><strong>Order Date:</strong> {{ order.updatedAt | date }}</p>
        </div>
      </div>

      <table class="table table-bordered mt-4">
        <thead>
          <tr>
            <th>#</th>
            <th>Device Name</th>
            <th>Price</th>
            <th>Qty</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of order.cartItems; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ item.product.title }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.price * item.quantity }}</td>
          </tr>
        </tbody>
      </table>

      <div class="row mt-4 justify-content-end">
        <div class="col-12 col-md-6">
          <div class="summary-card">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <span>Total</span>
                <span>{{ order.totalOrderPrice }}</span>
              </div>
              <div class="d-flex justify-content-between mt-2">
                <span>Shipping Rate</span>
              </div>
              <div class="d-flex justify-content-between mt-2">
                <span>Payment Method</span>
                <span>{{ order.paymentMethodType }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-dialog>
