<div
  class="d-flex justify-content-center align-items-center"
  style="min-height: 90vh"
>
  <div class="card p-4" style="max-width: 800px">
    <h3 class="text-center mb-3">Register</h3>
    <p class="text-center mb-4">
      Welcome to the Programming Area Shop, sign up to best Sales.
    </p>
    <form [formGroup]="registerForm" (submit)="submit()">
      <div class="d-flex">
        <div class="mb-3 w-100 mr-1">
          <label for="fname" class="form-label">First Name</label>
          <input
            pInputText
            id="fname"
            class="form-control"
            formControlName="fname"
            [ngClass]="{
              'is-invalid': control['fname'].touched && control['fname'].invalid
            }"
          />
          <div
            *ngIf="control['fname'].touched && control['fname'].invalid"
            class="invalid-feedback"
          >
            <div *ngIf="control['fname'].errors?.['required']">
              First Name Required
            </div>
            <div *ngIf="control['fname'].errors?.['fname']">Incorrect Name</div>
          </div>
        </div>

        <div class="mb-3 w-100 ml-1">
          <label for="lname" class="form-label">Last Name</label>
          <input
            pInputText
            id="lname"
            class="form-control"
            formControlName="lname"
            [ngClass]="{
              'is-invalid': control['lname'].touched && control['lname'].invalid
            }"
          />
          <div
            *ngIf="control['lname'].touched && control['lname'].invalid"
            class="invalid-feedback"
          >
            <div *ngIf="control['lname'].errors?.['required']">
              Last Name Required
            </div>
            <div *ngIf="control['lname'].errors?.['lname']">Incorrect Name</div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="phone" class="form-label">Phone</label>
        <input
          pInputText
          id="phone"
          class="form-control"
          formControlName="phone"
          placeholder="(+20)"
          [ngClass]="{
            'is-invalid': control['phone'].touched && control['phone'].invalid
          }"
        />
        <div
          *ngIf="control['phone'].touched && control['phone'].invalid"
          class="invalid-feedback"
        >
          <div *ngIf="control['phone'].errors?.['required']">
            Phone Required
          </div>
          <div *ngIf="control['phone'].errors?.['pattern']">
            Incorrect Number
          </div>
        </div>
      </div>

      <hr />

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          pInputText
          id="email"
          class="form-control"
          placeholder="test@email.co"
          formControlName="email"
          [ngClass]="{
            'is-invalid': control['email'].touched && control['email'].invalid
          }"
        />
        <div
          *ngIf="control['email'].touched && control['email'].invalid"
          class="invalid-feedback"
        >
          <div *ngIf="control['email'].errors?.['required']">
            Email Required
          </div>
          <div *ngIf="control['email'].errors?.['email']">Incorrect Email</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          pInputText
          type="password"
          class="form-control"
          formControlName="password"
          placeholder="********"
          [ngClass]="{
            'is-invalid':
              control['password'].touched && control['password'].invalid
          }"
        />
        <div
          *ngIf="control['password'].touched && control['password'].invalid"
          class="invalid-feedback"
        >
          Password Required
        </div>
      </div>

      <div class="mb-3">
        <label for="passwordConfirm" class="form-label">Confirm Password</label>
        <input
          pInputText
          type="password"
          formControlName="passwordConfirm"
          class="form-control"
          placeholder="********"
          [ngClass]="{
            'is-invalid':
              control['passwordConfirm'].touched &&
              registerForm.value.password !== registerForm.value.passwordConfirm
          }"
        />
        <div
          *ngIf="
            registerForm.value.password !== registerForm.value.passwordConfirm
          "
          class="invalid-feedback"
        >
          Passwords do not match
        </div>
      </div>

      <div class="d-flex justify-content-center gap-2">
        <p-button
          label="Sign Up"
          [loading]="loading"
          type="submit"
          class="p-button-primary"
          [disabled]="
            registerForm.invalid ||
            registerForm.value.password !== registerForm.value.passwordConfirm
          "
        ></p-button>
      </div>

      <div class="text-center mt-3">
        Already have ab account?
        <a [routerLink]="['/login']"
          ><strong class="text-primary">Login</strong></a
        >
      </div>

      <div class="text-center mt-3">
        <p>or sign up with below</p>
        <div class="d-flex justify-content-center gap-3">
          <i class="pi pi-facebook" style="font-size: 1.5rem"></i>
          <i class="pi pi-twitter" style="font-size: 1.5rem"></i>
          <i class="pi pi-google" style="font-size: 1.5rem"></i>
          <i class="pi pi-github" style="font-size: 1.5rem"></i>
        </div>
      </div>
    </form>
  </div>
</div>
