<p-menubar [model]="items">
  <ng-template pTemplate="start">
    <a routerLink="/home">
      <img src="../../assets/logo.ico" height="40" class="mr-2" />
    </a>
  </ng-template>

  <ng-template pTemplate="end">
    <span class="p-input-icon-left d-flex">
      <i class="pi pi-search"></i>
      <input
        pInputText
        type="text"
        class="search-input"
        [(ngModel)]="searchTerm"
        (input)="onSearch()"
      />
      <button (click)="reloadPage()" class="search-button">Search</button>
    </span>
  </ng-template>
</p-menubar>

<div *ngIf="searchResults.length > 0" class="search-results">
  <ul>
    <li *ngFor="let product of searchResults">
      <a (click)="navigate(product)" class="cursor-pointer">
        <img [src]="product.images[0]" alt="{{ product.title }}" />
        <div>
          <h4>{{ product.title }}</h4>
        </div>
      </a>
    </li>
  </ul>
</div>
