<div class="container">
  <div class="profile-header">
    <h2>Address Settings</h2>
  </div>

  <p-card class="address-card">
    <div class="p-grid p-align-center">
      <div class="p-col-12 p-md-6">
        <img
          src="../../../../assets/person.jpg"
          width="150px"
          height="150px"
          alt="Profile Image"
        />
      </div>
      <div class="p-col-12 p-md-6">
        <div class="p-fluid">
          <div class="p-field">
            <label for="street">Street</label>
            <input pInputText id="street" type="text" />
          </div>
          <div class="p-field">
            <label for="city">City</label>
            <input pInputText id="city" type="text" />
          </div>
          <div class="p-field">
            <label for="state">State</label>
            <input pInputText id="state" type="text" />
          </div>
          <div class="p-field">
            <label for="zip">Zip Code</label>
            <input pInputText id="zip" type="text" />
          </div>
          <div class="p-field">
            <label for="country">Country</label>
            <input pInputText id="country" type="text" />
          </div>
          <button pButton label="Save Address" icon="pi pi-check"></button>
        </div>
      </div>
    </div>
  </p-card>
</div>
