.p-fluid {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

h2 {
  margin-bottom: 20px;
}

.p-grid {
  gap: 20px;
}

.error {
  color: red;
  font-size: 0.8em;
}

p-card {
  margin-bottom: 20px;
}
