<div class="p-fluid">
  <h2 class="p-text-center">Manage Addresses</h2>

  <!-- Address List -->
  <div class="p-grid">
    <div *ngFor="let address of addresses" class="p-col-12 p-md-6 p-lg-4">
      <p-card>
        <ng-template pTemplate="title">
          {{ address.fname }} {{ address.lname }}
        </ng-template>
        <ng-template pTemplate="content">
          <p><strong>State:</strong> {{ address.state }}</p>
          <p><strong>Country:</strong> {{ address.country }}</p>
          <p><strong>City:</strong> {{ address.city }}</p>
          <p><strong>Address:</strong> {{ address.address }}</p>
          <p><strong>Phone:</strong> {{ address.phone }}</p>
          <p><strong>Email:</strong> {{ address.email }}</p>
          <p><strong>Postal Code:</strong> {{ address.postalCode }}</p>
        </ng-template>
        <ng-template pTemplate="footer">
          <button
            pButton
            label="Edit"
            icon="pi pi-pencil"
            class="p-button-warning"
            (click)="openModal(address)"
          ></button>
          <button
            pButton
            label="Delete"
            icon="pi pi-times"
            class="p-button-danger"
            (click)="deleteAddress(address._id)"
          ></button>
        </ng-template>
      </p-card>
    </div>
  </div>

  <!-- Add New Address Button -->
  <button
    pButton
    label="Add New Address"
    icon="pi pi-plus"
    class="p-button-success p-mt-3"
    (click)="openModal()"
  ></button>

  <!-- Modal Dialog for Adding/Editing Address -->
  <p-dialog
    header="Address"
    [(visible)]="showModal"
    [modal]="true"
    [closable]="false"
  >
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="p-field">
        <label for="fname">First Name</label>
        <input id="fname" type="text" pInputText formControlName="fname" />
        <div *ngIf="f['fname'].invalid && f['fname'].touched" class="error">
          First Name is required
        </div>
      </div>

      <div class="p-field">
        <label for="lname">Last Name</label>
        <input id="lname" type="text" pInputText formControlName="lname" />
        <div *ngIf="f['lname'].invalid && f['lname'].touched" class="error">
          Last Name is required
        </div>
      </div>

      <!-- Repeat similar fields for other form controls -->

      <div class="p-d-flex p-jc-end">
        <button
          pButton
          label="Cancel"
          icon="pi pi-times"
          class="p-button-text"
          (click)="closeModal()"
        ></button>
        <button
          pButton
          label="Save"
          icon="pi pi-check"
          class="p-button-primary"
          type="submit"
        ></button>
      </div>
    </form>
  </p-dialog>
</div>
