.card-title {
  font-weight: bold;
  margin-bottom: 0;
}

.card {
  border: none;
}

.card-header {
  font-weight: bold;
  border-bottom: 2px solid #dee2e6;
}

.img-thumbnail {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 123, 255, 0.1);
}

.badge {
  font-size: 0.9rem;
}

.list-group-item {
  font-weight: 500;
}

.shadow-sm {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.list-group-item p {
  margin: 0;
}
list-group-item p a {
  color: blue;
}
