<div class="shopping-cart row" style="min-height: 80vh">
  <div class="cart-items col-lg-8 col-md-12">
    <button class="btn btn-danger my-2 mx-auto d-block" (click)="deleteCart()">
      Clear Cart
    </button>
    <div class="cart-item" *ngFor="let item of cart.cartItems; index as index">
      <img [src]="item.product.images[0]" width="100px" class="mx-5" />
      <div class="item-details w-100">
        <p class="product-name w-50">{{ item.product.title }}</p>
        <p class="price w-25">
          Price: {{ item.product.priceAfterDiscount }} EGP
        </p>
        <div class="quantity w-25">
          <button
            class="quantity-button"
            (click)="removeOne(item._id, +item.quantity)"
          >
            -
          </button>
          <input type="text" [value]="item.quantity" />
          <button
            class="quantity-button"
            (click)="addOne(item, +item.quantity)"
          >
            +
          </button>
        </div>
        <p class="subtotal w-25">
          Total: {{ item.product.priceAfterDiscount * item.quantity }} EGP
        </p>
        <button class="btn btn-danger w-" (click)="deleteItem(item._id)">
          Delete
        </button>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-12">
    <div class="cart-summary">
      <h3>Cart Totals</h3>
      <p>
        Subtotal: <span>{{ cart.totalCartPrice }} EGP</span>
      </p>
      <p>Shipping: <span>0.00 EGP</span></p>
      <p>
        Total: <span>{{ cart.totalCartPrice }} EGP</span>
      </p>
      <button class="checkout-button" routerLink="/checkout">
        PROCEED TO CHECKOUT
      </button>
    </div>
    <div class="return">
      <h3>Delivery & Return</h3>
      <ul>
        <li>
          <input type="checkbox" checked />
          <i></i>
          <h2>When Do I Receive My Order?</h2>
          <p>We ship with AS-Shipping And delivery time 2 – 4 days</p>
        </li>
        <li>
          <input type="checkbox" checked />
          <i></i>
          <h2>30 Days Return</h2>
          <p>
            You have 30 days to make a return request after your order has been
            delivered.(If Your Product has any issue)
          </p>
        </li>
        <li>
          <input type="checkbox" checked />
          <i></i>
          <h2>Refund Request</h2>
          <p>
            You have 30 days to make a refund request if you product has any
            issue as Purchase Coupon, Vodafone Cash or Instapay after your order
            has been delivered. You Have also 14 Days to make return if your
            product in the same condition when it delivered to you Contact us
            Via Whatsapp : 01143490777 and shen your order number
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>

<p-toast></p-toast>
