<div class="row" style="height: 40vh">
  <div class="card col-6">
    <p-galleria
      [value]="images"
      [showItemNavigators]="true"
      [showThumbnails]="false"
      [showIndicators]="true"
      [showIndicatorsOnItem]="true"
      [responsiveOptions]="responsiveOptions"
      [containerStyle]="{ width: '100%', 'margin-top': '2em' }"
    >
      <ng-template pTemplate="item" let-item>
        <img [src]="item.itemImageSrc" style="width: 100%; display: block" />
      </ng-template>
      <ng-template pTemplate="thumbnail" let-item>
        <div class="grid grid-nogutter justify-content-center">
          <img [src]="item.thumbnailImageSrc" style="display: block" />
        </div>
      </ng-template>
    </p-galleria>
  </div>
  <div class="col-6">
    <div class="col-3 d-flex felx-column">
      <img src="../../assets/advertise/advertise1.jpg" alt="" />
      <img src="../../assets/advertise/advertise2.jpg" alt="" />
    </div>
    <div class="col-3">
      <img src="../../assets/advertise/advertise1.jpg" alt="" />
      <img src="../../assets/advertise/advertise2.jpg" alt="" />
    </div>
  </div>
</div>
