<footer class="footer">
  <div class="footer-content">
    <div class="footer-section">
      <h1 class="logo-text"><span>Programing</span> Area</h1>
      <p>
        25 Elgish Street<br />
        ElAgami<br />
        <br />
        01015388310<br />
        programmingarea@gmail.com<br />
        <br />
        Open time: 12:00AM - 10:00PM
      </p>
    </div>

    <div class="footer-section links">
      <h2>INFORMATION</h2>
      <br />
      <ul>
        <li><a routerLink="/about">About Us</a></li>
        <li><a routerLink="/contact">Contact Us</a></li>
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/register">Register</a></li>
        <li><a routerLink="/privacy">Privacy Policy</a></li>
        <li><a routerLink="/branches">Our branches</a></li>
      </ul>
    </div>

    <div class="footer-section links">
      <h2>BRANDS</h2>
      <br />
      <ul>
        <li><a href="#">Western Digital</a></li>
        <li><a href="#">Kingston</a></li>
        <li><a href="#">Lenovo</a></li>
        <li><a href="#">Dell</a></li>
        <li><a href="#">Canon</a></li>
        <li><a href="#">BENQ</a></li>
      </ul>
    </div>

    <div class="footer-section links">
      <h2>CATEGORIES</h2>
      <br />
      <ul>
        <li><a href="#">Desktop</a></li>
        <li><a href="#">Notebook</a></li>
        <li><a href="#">Storage</a></li>
        <li><a href="#">Monitors</a></li>
        <li><a href="#">Network</a></li>
        <li><a href="#">Accessories</a></li>
      </ul>
    </div>

    <div class="footer-section newsletter">
      <h2>SIGNUP FOR NEWSLETTER</h2>
      <p>We'll never share your email address with a third-party.</p>
    </div>

    <div class="socials">
      <a href="https://www.facebook.com/elfashikh18"
        ><i class="pi pi-facebook"></i
      ></a>
      <a href="https://github.com/khalifa2003"><i class="pi pi-github"></i></a>
      <a href="https://www.youtube.com/@ProgrammingArea"
        ><i class="pi pi-youtube"></i
      ></a>
      <a href="https://www.linkedin.com/in/khalifa2003/"
        ><i class="pi pi-linkedin"></i
      ></a>
    </div>
  </div>

  <div class="footer-bottom">
    &copy; 2024 Programming Area. All Rights Reserved. Designed by Ahmad Saber
  </div>
</footer>
