<footer class="footer">
  <div class="footer-content">
    <div class="footer-section about">
      <h1 class="logo-text"><span>Programing</span> Area</h1>
      <p>
        25 Elgish Street<br />
        ElAgami<br />
        <br />
        01015388310<br />
        programmingarea@Gmail.Com<br />
        <br />
        Open time: 12:00AM - 10:00PM
      </p>
    </div>

    <div class="footer-section links">
      <h2>INFORMATION</h2>
      <br />
      <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Register</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Our branches</a></li>
      </ul>
    </div>

    <div class="footer-section links">
      <h2>BRANDS</h2>
      <br />
      <ul>
        <li><a href="#">Western Digital</a></li>
        <li><a href="#">Kingston</a></li>
        <li><a href="#">Lenovo</a></li>
        <li><a href="#">Dell</a></li>
        <li><a href="#">Canon</a></li>
        <li><a href="#">BENQ</a></li>
      </ul>
    </div>

    <div class="footer-section links">
      <h2>CATEGORIES</h2>
      <br />
      <ul>
        <li><a href="#">Desktop</a></li>
        <li><a href="#">Notebook</a></li>
        <li><a href="#">Storage</a></li>
        <li><a href="#">Monitors</a></li>
        <li><a href="#">Network</a></li>
        <li><a href="#">Accessories</a></li>
      </ul>
    </div>

    <div class="footer-section newsletter">
      <h2>SIGNUP FOR NEWSLETTER</h2>
      <br />
      <p>We'll never share your email address with a third-party.</p>
    </div>
  </div>

  <div class="footer-bottom">
    &copy; 2024 Programming Area. All Rights Reserved. Designed by Ahmad Khalifa
  </div>

  <div class="socials">
    <!-- <a href="#"><img src="facebook-icon.png" alt="Facebook" /></a>
    <a href="#"><img src="twitter-icon.png" alt="Twitter" /></a>
    <a href="#"><img src="youtube-icon.png" alt="YouTube" /></a>
    <a href="#"><img src="linkedin-icon.png" alt="LinkedIn" /></a> -->
  </div>
</footer>
