<div class="card">
  <p-toolbar class="gap-2">
    <app-sidebar></app-sidebar>
    <ng-template pTemplate="left">
      <button
        pButton
        pRipple
        label="New"
        icon="pi pi-plus"
        class="p-button-success me-2"
        (click)="openNew()"
      ></button>
    </ng-template>
  </p-toolbar>

  <p-table
    #dt
    [value]="subcategories"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="['name', 'country.name']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="subcategories"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="caption">
      <div class="d-flex align-items-center justify-content-between">
        <h5 class="m-0">Manage Subcategories</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            placeholder="Search..."
            (input)="onSearch($event)"
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="ID" style="min-width: 15rem">
          ID <p-sortIcon field="ID"></p-sortIcon>
        </th>
        <th pSortableColumn="name" style="min-width: 15rem">
          Name <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="price">
          Category <p-sortIcon field="price"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-subcategory>
      <tr>
        <td>
          {{ subcategory._id }}
        </td>
        <td>{{ subcategory.name }}</td>
        <td>
          {{ subcategory.category.name }}
        </td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success me-2"
            (click)="openEdit(subcategory)"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-warning"
            (click)="deleteSubcategory(subcategory)"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="d-flex align-items-center justify-content-between">
        In total, there are
        {{ subcategories ? subcategories.length : 0 }} subcategories.
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog
  [(visible)]="subcategoryDialog"
  [style]="{ width: '850px' }"
  header="Subcategory Details"
  [modal]="true"
  class="p-fluid"
>
  <ng-template pTemplate="content">
    <form class="form-inputs admin-height" [formGroup]="subcategoryForm">
      <div class="form-group">
        <input
          [ngClass]="{ 'is-invalid': f['name'].touched && f['name'].invalid }"
          placeholder="Subcategory Name"
          formControlName="name"
          class="input"
          type="text"
          id="name"
        />
        <div
          *ngIf="f['name'].touched && f['name'].invalid"
          class="invalid-feedback"
        >
          <div *ngIf="f['name'].errors?.['required']">
            Subcategory Name Required
          </div>
        </div>
      </div>

      <div class="form-group pt-3" *ngIf="categories.length > 0">
        <div class="radio-input col-6">
          <div class="info w-100">
            <span class="question">SubCategory For ?</span>
            <span class="steps">{{ categories.length }}</span>
          </div>
          <div class="w-100">
            <select
              aria-label="Default select example"
              formControlName="category"
              class="form-select"
            >
              <option
                *ngFor="let sub of categories"
                value="{{ sub._id }}"
                id="{{ sub._id }}"
              >
                {{ sub.name }}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-center mt-2">
        <button
          [disabled]="subcategoryForm.invalid"
          class="btn btn-success mt-2"
          type="submit"
          (click)="submitEditSubcategory()"
          *ngIf="subcategory.name"
        >
          Update
        </button>
        <button
          (click)="submitAddSubcategory()"
          [disabled]="subcategoryForm.invalid"
          class="btn btn-success mt-2"
          type="submit"
          *ngIf="!subcategory.name"
        >
          Create
        </button>
      </div>
    </form>
  </ng-template>
</p-dialog>

