.product-title {
  height: 100px;
  overflow: hidden;
  cursor: pointer;
}
.product-title:hover {
  color: #555;
}
.discount {
  background-color: yellow;
  border-radius: 50%;
  font-weight: bold;
  padding: 10px 5px;
  font-size: 15px;
  position: fixed;
  top: 0;
}
.favorite-button {
  position: fixed;
  top: 0;
}
i {
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
i:hover {
  color: red;
}
