<div class="my-container">
  <app-landing class="row"></app-landing>
  <div class="row mt-2">
    <header>Shop by Categories</header>
    <p-carousel
      [value]="products"
      [numVisible]="5"
      [numScroll]="3"
      [circular]="true"
      [responsiveOptions]="responsiveOptions"
    >
      <ng-template let-product pTemplate="item">
        <div class="border-round text-center py-3 px-2">
          <div class="mb-1">
            <img
              src="https://primefaces.org/cdn/primeng/images/demo/product/{{
                product.image
              }}"
              [alt]="product.name"
              class="w-6 shadow-2"
            />
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
  <div class="row mt-2">
    <header>Special Offers</header>
    <p-carousel
      [value]="products"
      [numVisible]="5"
      [numScroll]="3"
      [circular]="true"
      [responsiveOptions]="responsiveOptions"
    >
      <ng-template let-product pTemplate="item">
        <div class="border-round text-center py-3 px-2">
          <div class="mb-1">
            <img
              src="https://primefaces.org/cdn/primeng/images/demo/product/{{
                product.image
              }}"
              [alt]="product.name"
              class="w-6 shadow-2"
            />
          </div>
          <div>
            <h4 class="mb-1">{{ product.name }}</h4>
            <h6 class="mb-3">{{ "$" + product.price }}</h6>
            <div class="car-buttons">
              <p-button
                type="button"
                styleClass="p-button p-button-rounded mr-2"
                icon="pi pi-search"
              ></p-button>
              <p-button
                type="button"
                styleClass="p-button-success p-button-rounded mr-2"
                icon="pi pi-star-fill"
              ></p-button>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
  <div class="row mt-2">
    <header>New Arraive</header>
    <p-carousel
      [value]="products"
      [numVisible]="5"
      [numScroll]="3"
      [circular]="true"
      [responsiveOptions]="responsiveOptions"
    >
      <ng-template let-product pTemplate="item">
        <div class="border-round text-center py-3 px-2">
          <div class="mb-1">
            <img
              src="https://primefaces.org/cdn/primeng/images/demo/product/{{
                product.image
              }}"
              [alt]="product.name"
              class="w-6 shadow-2"
            />
          </div>
          <div>
            <h4 class="mb-1">{{ product.name }}</h4>
            <h6 class="mb-3">{{ "$" + product.price }}</h6>
            <div class="car-buttons">
              <p-button
                type="button"
                styleClass="p-button p-button-rounded mr-2"
                icon="pi pi-search"
              ></p-button>
              <p-button
                type="button"
                styleClass="p-button-success p-button-rounded mr-2"
                icon="pi pi-star-fill"
              ></p-button>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
  <div class="mt-2 d-flex gap-4">
    <section class="col-xl-10 col-lg-12">
      <img src="../../../assets/sec1.1.jpg" class="sec p-1" />
      <img src="../../../assets/sec1.2.jpg" class="sec p-1" />
    </section>
    <section class="col-xl-2 col-lg-0">
      <img src="../../../assets/side/side1.jpg" />
      <img src="../../../assets/side/side2.jpg" class="mt-1" />
      <img src="../../../assets/side/side3.jpg" class="mt-1" />
      <img src="../../../assets/side/side4.jpg" class="mt-1" />
      <img src="../../../assets/side/side5.jpg" class="mt-1" />
    </section>
  </div>
</div>
