/* General Sidebar Button Styles */
.filter-group .btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  border: 1px solid #007bff;
  text-align: left;
  border-radius: 4px;
  color: #007bff;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  background-color: #eee;
}

.filter-group .btn:hover {
  background-color: #0056b3;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.filter-group .btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

.filter-group .btn span {
  flex-grow: 1;
}

/* Add icons or adjust arrow position */
.filter-group .btn .pi {
  margin-left: auto;
  transition: transform 0.3s ease;
}

.filter-group .btn[aria-expanded="true"] .pi {
  transform: rotate(180deg);
}

/* Checkbox Container Styles */
.checkbox-container {
  padding: 8px 0;
  margin-left: 10px;
}

.checkbox-container label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 10px;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  border: 2px solid #007bff;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.checkbox-container input[type="checkbox"]:checked {
  background-color: #007bff;
  border-color: #0056b3;
}

.checkbox-container img {
  margin-left: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.price-inputs {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.price-inputs input {
  width: 48%;
  padding: 0.5rem;
  border: 1px solid #ced4da;
  border-radius: 4px;
}
.sort-group {
  padding: 10px;
  border-top: 1px solid #ddd;
}

.sort-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.sort-group select {
  width: 100%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
}
