.card-header {
  background-color: #f8f9fa;
  font-weight: bold;
}

.img-thumbnail {
  width: 50px;
  height: auto;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: green;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  color: green;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  margin-bottom: 15px;
  padding: 8px;
  border: 1px solid #333;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.name-fields {
  display: flex;
  justify-content: space-between;
}

.name-fields > div {
  width: 48%;
}
