<div class="container-xxl my-4" style="min-height: 80vh">
  <div class="row" *ngIf="cart">
    <div class="card col-md-6 my-4">
      <div
        class="card-header d-flex justify-content-between align-items-center"
      >
        <div><i class="pi pi-user"></i> Select Your Address</div>
        <div>
          <button class="btn btn-success" (click)="openNew()">+</button>
        </div>
      </div>
      <div class="card-body">
        <div
          *ngFor="let address of listOfAddresses"
          class="form-check d-flex justify-content-between border-bottom mb-3"
        >
          <label class="form-check-label" [for]="address._id">
            <input
              class="form-check-input"
              type="radio"
              name="address"
              [id]="address._id"
              [value]="address.address"
              (click)="selectAddress($event, address)"
            />
            {{ address.address }}
          </label>
          <button class="btn btn-danger mx-2" (click)="deleteAddress(address)">
            Delete
          </button>
        </div>
        <div *ngIf="listOfAddresses.length == 0">No Addresses...</div>
      </div>
    </div>

    <div class="col-md-6 my-4">
      <!-- Shipping Method Section -->
      <div class="card mb-4">
        <div class="card-header">
          <i class="pi pi-truck"></i> Shipping Method
        </div>
        <div class="card-body">
          <p>{{ address.address }}</p>
          <p>{{ 50 }} LE</p>
        </div>
      </div>

      <!-- Payment Method Section -->
      <div class="card mb-4">
        <div class="card-header">
          <i class="pi pi-credit-card"></i> Payment Method
        </div>
        <div class="card-body">
          <div class="form-check d-flex flex-column">
            <label for="cash">
              <!-- [(ngModel)]="paymentMethod" -->
              <input
                class="form-check-input"
                name="paymentMethod"
                type="radio"
                value="cash"
                id="cash"
                (click)="selectPaymentMethod($event)"
              />
              <!-- [(ngModel)]="paymentMethod" -->
              Cash On Delivery
            </label>
            <label for="credit">
              <input
                class="form-check-input"
                name="paymentMethod"
                value="credit"
                type="radio"
                id="credit"
                (click)="selectPaymentMethod($event)"
              />
              <!-- [(ngModel)]="paymentMethod" -->
              Credit Card
            </label>
          </div>
        </div>
      </div>

      <!-- Coupon Section -->
      <div class="card mb-4">
        <div class="card-header">
          <i class="pi pi-gift"></i> Do You Have a Coupon or Voucher?
        </div>
        <div class="card-body">
          <input
            type="text"
            class="form-control mb-2"
            placeholder="Enter voucher code"
          />
          <!-- [(ngModel)]="couponCode" -->
          <button class="btn btn-primary w-100" (click)="applyCoupon()">
            Apply Voucher
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="cart">
    <!-- Shopping Cart Section -->
    <div class="card mb-4">
      <div class="card-header">
        <i class="pi pi-shopping-cart"></i> Shopping Cart
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th>Image</th>
              <th>Product Name</th>
              <th>Quantity</th>
              <th>Unit Price</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of cartItems">
              <td>
                <img
                  [src]="item.product.images[0]"
                  alt="{{ item.product.title }}"
                  class="img-thumbnail"
                  style="width: 50px"
                />
              </td>
              <td>{{ item.product.title }}</td>
              <td>{{ item.quantity }}</td>
              <td>{{ item.product.priceAfterDiscount }} LE</td>
              <td>{{ item.product.priceAfterDiscount * item.quantity }} LE</td>
            </tr>
          </tbody>
        </table>

        <div class="col-md-6 card p-2">
          <p class="d-flex justify-content-between">
            <strong>Sub-Total:</strong> {{ cart.totalCartPrice }} LE
          </p>
          <p class="d-flex justify-content-between">
            <strong>Flat Shipping Rate:</strong> 50 LE
          </p>
          <p class="d-flex justify-content-between">
            <strong>Voucher:</strong> 0 LE
          </p>
          <p class="d-flex justify-content-between">
            <strong>Total:</strong> {{ cart.totalCartPrice + 50 }} LE
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row d-flex justify-content-center" *ngIf="cart">
    <button
      class="btn btn-success w-25"
      (click)="checkout()"
      [disabled]="checkoutForm.invalid"
    >
      Place Order
    </button>
  </div>
</div>

<p-dialog
  [(visible)]="addressDialog"
  [style]="{ width: '850px' }"
  header="Address Details"
  [modal]="true"
>
  <ng-template pTemplate="content">
    <form class="form-inputs admin-height" [formGroup]="addressForm">
      <div class="form-group my-2 d-flex">
        <div class="w-100 mr-1">
          <input
            [ngClass]="{
              'is-invalid': f['fname'].touched && f['fname'].invalid
            }"
            placeholder="First Name"
            formControlName="fname"
            class="input"
            type="text"
            id="fname"
          />
          <div
            *ngIf="f['fname'].touched && f['fname'].invalid"
            class="invalid-feedback"
          >
            <div *ngIf="f['fname'].errors?.['required']">
              First Name Required
            </div>
          </div>
        </div>
        <div class="w-100 ml-1">
          <input
            [ngClass]="{
              'is-invalid': f['lname'].touched && f['lname'].invalid
            }"
            placeholder="Last Name"
            formControlName="lname"
            class="input"
            type="text"
            id="lname"
          />
          <div
            *ngIf="f['lname'].touched && f['lname'].invalid"
            class="invalid-feedback"
          >
            <div *ngIf="f['lname'].errors?.['required']">
              Last Name Required
            </div>
          </div>
        </div>
      </div>

      <div class="form-group my-2">
        <input
          [ngClass]="{
            'is-invalid': f['phone'].touched && f['phone'].invalid
          }"
          placeholder="Phone"
          formControlName="phone"
          class="input"
          type="text"
          id="phone"
        />
        <div
          *ngIf="f['phone'].touched && f['phone'].invalid"
          class="invalid-feedback"
        >
          <div *ngIf="f['phone'].errors?.['required']">Phone Required</div>
        </div>
      </div>

      <div class="form-group my-2">
        <textarea
          id="address"
          placeholder="Address With Details"
          formControlName="address"
          class="w-100 p-1 rounded"
          [ngClass]="{
            'is-invalid': f['address'].touched && f['address'].invalid
          }"
          rows="4"
        ></textarea>
        <div
          *ngIf="f['address'].touched && f['address'].invalid"
          class="invalid-feedback m-0"
        >
          <div *ngIf="f['address'].errors?.['required']">Address Required</div>
        </div>
      </div>

      <div class="form-group my-2 d-flex">
        <div class="w-100 mr-1">
          <input
            [ngClass]="{
              'is-invalid': f['city'].touched && f['city'].invalid
            }"
            placeholder="City"
            formControlName="city"
            class="input"
            type="text"
            id="city"
          />
          <div
            *ngIf="f['city'].touched && f['city'].invalid"
            class="invalid-feedback"
          >
            <div *ngIf="f['city'].errors?.['required']">City Required</div>
          </div>
        </div>
        <div class="w-100 ml-1">
          <input
            [ngClass]="{
              'is-invalid': f['country'].touched && f['country'].invalid
            }"
            placeholder="Country"
            formControlName="country"
            class="input"
            type="text"
            id="country"
          />
          <div
            *ngIf="f['country'].touched && f['country'].invalid"
            class="invalid-feedback"
          >
            <div *ngIf="f['country'].errors?.['required']">
              Country Required
            </div>
          </div>
        </div>
      </div>

      <div class="form-group my-2 d-flex">
        <div class="w-100 mr-1">
          <input
            [ngClass]="{
              'is-invalid': f['state'].touched && f['state'].invalid
            }"
            placeholder="State"
            formControlName="state"
            class="input"
            type="text"
            id="state"
          />
          <div
            *ngIf="f['state'].touched && f['state'].invalid"
            class="invalid-feedback"
          >
            <div *ngIf="f['state'].errors?.['required']">State Required</div>
          </div>
        </div>
        <div class="w-100 ml-1">
          <input
            [ngClass]="{
              'is-invalid': f['postalCode'].touched && f['postalCode'].invalid
            }"
            placeholder="Postal Code"
            formControlName="postalCode"
            class="input"
            type="text"
            id="postalCode"
          />
          <div
            *ngIf="f['postalCode'].touched && f['postalCode'].invalid"
            class="invalid-feedback"
          >
            <div *ngIf="f['postalCode'].errors?.['required']">
              Postal Code Required
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-center mt-2">
        <button
          (click)="addAddress()"
          [disabled]="addressForm.invalid"
          class="btn btn-success mt-2"
          type="submit"
        >
          Create
        </button>
      </div>
    </form>
  </ng-template>
</p-dialog>
