<div class="container rounded my-5">
  <div class="row">
    <div class="col-md-3 border-right">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5">
        <img
          class="rounded-circle mt-5"
          width="150px"
          [src]="user.image || '../../../../assets/person.jpg'"
          alt="Profile Image"
        />
        <span class="font-weight-bold">{{ user.fname }} {{ user.lname }}</span>
        <span class="text-black-50">{{ user.email }}</span>
      </div>
    </div>

    <form
      class="p-3 py-5 col-md-5 border-right"
      [formGroup]="changeProfileForm"
    >
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="text-right">Profile Settings</h4>
      </div>

      <div class="row mt-2">
        <div class="col-md-6">
          <label class="labels">First Name</label>
          <input
            type="text"
            class="form-control"
            formControlName="fname"
            placeholder="First Name"
          />
        </div>
        <div class="col-md-6">
          <label class="labels">Last Name</label>
          <input
            type="text"
            class="form-control"
            formControlName="lname"
            placeholder="Last Name"
          />
        </div>
      </div>

      <div class="col-md-12">
        <label class="labels">Mobile Number</label>
        <input
          type="text"
          class="form-control"
          formControlName="phone"
          placeholder="Enter phone number"
        />
      </div>

      <div class="col-md-12">
        <label class="labels">Email </label>
        <input
          type="text"
          class="form-control"
          formControlName="email"
          placeholder="Enter email"
        />
      </div>

      <div class="col-md-12">
        <label class="labels">Image </label>
        <input
          type="text"
          class="form-control"
          formControlName="image"
          placeholder="Enter image src"
        />
      </div>

      <div class="mt-5 text-center">
        <button
          class="btn btn-primary profile-button"
          (click)="saveProfile()"
          [ngClass]="{
            disabled: changeProfileForm.invalid
          }"
        >
          Save Profile
        </button>
      </div>
    </form>

    <form class="col-md-4 p-3 py-5" [formGroup]="changePasswordForm">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="text-right">Change Password</h4>
      </div>

      <div class="col-md-12">
        <label class="labels">Old Password</label>
        <input
          type="password"
          class="form-control"
          formControlName="currentPassword"
          placeholder="Enter old password"
        />
      </div>

      <div class="col-md-12">
        <label class="labels">New Password</label>
        <input
          type="password"
          class="form-control"
          formControlName="password"
          placeholder="Enter new password"
        />
      </div>

      <div class="col-md-12">
        <label class="labels">Confirm New Password</label>
        <input
          type="password"
          class="form-control"
          formControlName="passwordConfirm"
          placeholder="Confirm new password"
        />
      </div>

      <div class="mt-5 text-center">
        <button
          class="btn btn-primary profile-button"
          (click)="changePassword()"
        >
          Change Password
        </button>
      </div>
    </form>
  </div>
</div>
<p-toast></p-toast>
