<div class="container-xxl min-vh-100 bg-body-secondary">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10">
      <h2 class="text-center card-header shadow-lg">My Orders</h2>
      <div *ngIf="loading">Loading...</div>
      <h4 class="text-center text-danger" *ngIf="!orders">
        You don't have any orders yet
      </h4>
      <!-- Order Card -->
      <ng-container *ngIf="orders">
        <div *ngFor="let order of orders" class="card my-2 shadow">
          <div
            class="card-header d-flex justify-content-between bg-body-secondary"
          >
            <div>
              <strong>Order ID</strong>: {{ order._id }}<br />
              <strong>Order Date</strong>: {{ order.updatedAt | date }}<br />
            </div>
            <div>
              <strong>Status</strong>:
              <span
                class="order-status"
                [ngClass]="order.isDelivered ? 'text-success' : 'text-warning'"
                >{{ order.isDelivered ? "Delivered" : "Pending" }}</span
              >
            </div>
            <div>
              <h5>Total Amount: {{ order.totalOrderPrice }} EGP</h5>
            </div>
          </div>

          <div class="card-body bg-body-tertiary">
            <div *ngFor="let item of order.cartItems" class="row border-bottom">
              <div class="col-md-2">
                <img
                  [src]="item.product.images[0]"
                  alt="{{ item.product.title }}"
                  class="w-100"
                />
              </div>
              <div class="col-md-6 pt-3">
                <h6>{{ item.product.title }}</h6>
                <p>{{ item.price }} EGP</p>
              </div>
              <div class="col-md-2 pt-3">
                <button
                  pButton
                  type="button"
                  label="Buy Again {{ item.price }} EGP"
                  icon="pi pi-shopping-cart"
                  class="p-button-rounded p-button-success me-2"
                  style="font-size: 12px"
                  [routerLink]="['/product', item.product._id]"
                ></button>
              </div>
              <div class="col-md-2 text-start pt-3">
                <strong>Quantity: </strong>
                <span class="text-muted">x{{ item.quantity }}</span>
                <br />
                <strong>Total: </strong>
                <span>{{ item.price * item.quantity }} EGP</span>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
