<div class="row" [ngStyle]="{ margin: '0' }" *ngIf="product.images">
  <div class="col-xl-1 col-sm-0 col-md-0"></div>

  <div class="col-xl-5 col-sm-12 col-md-12">
    <p-galleria
      [value]="product.images"
      [responsiveOptions]="responsiveOptions"
      [numVisible]="5"
    >
      <ng-template pTemplate="item" let-item>
        <img [src]="item" style="width: 100%" />
      </ng-template>
      <ng-template pTemplate="thumbnail" let-item>
        <div class="grid grid-nogutter d-flex justify-content-center">
          <img [src]="item" style="height: 70px" />
        </div>
      </ng-template>
    </p-galleria>
  </div>

  <div class="col-xl-5 col-sm-12 col-md-12 d-flex align-items-center px-4 m-0">
    <div class="product-details">
      <div class="d-flex justify-content-between">
        <p>
          Category:
          {{ product.category.name + " / " + product.subcategory.name }}
        </p>
        <i
          (click)="addToWishlist()"
          *ngIf="!isInWishlist()"
          class="pi pi-heart"
        ></i>
        <i
          (click)="RemoveFromWishlist()"
          *ngIf="isInWishlist()"
          class="pi pi-heart-fill"
        ></i>
      </div>

      <div>
        <h3 class="product-title d-flex">
          {{ product.title }}
          <p class="discount" *ngIf="product.discount > 0">
            {{ product.discount }}%
          </p>
        </h3>
      </div>

      <div class="d-flex align-items-center justify-content-between mr-5">
        <div class="mb-3 d-flex">
          <p class="product-price">{{ product.priceAfterDiscount }}EGP</p>
          <del *ngIf="product.discount > 0">{{ product.price }}EGP</del>
        </div>
        <div>
          <p-rating
            [ngModel]="product.ratingsAverage"
            [readonly]="true"
            [stars]="5"
            [cancel]="false"
          ></p-rating>
          <p>{{ product.ratingsQuantity }} Reviews</p>
        </div>
      </div>

      <p class="product-brand">
        Brand: <img src="{{ product.brand.image }}" alt="" />
      </p>

      <p class="product-description">Description: {{ product.description }}</p>

      <p
        [ngClass]="
          product.stock == 'LOWSTOCK'
            ? 'text-warning'
            : product.stock == 'OUTOFSTOCK'
            ? 'text-danger'
            : 'text-success'
        "
      >
        <i class="pi pi-circle-fill"></i> {{ product.stock }}
      </p>

      <button
        class="btn btn-primary mx-2"
        (click)="addToCart()"
        [disabled]="product.quantity == 0"
      >
        Add to Cart
      </button>

      <button
        class="btn btn-outline-primary mx-2"
        [disabled]="product.quantity == 0"
      >
        Buy
      </button>
    </div>
  </div>
</div>

<div class="row review-section" *ngIf="product._id" [ngStyle]="{ margin: '0' }">
  <div class="col-xl-1 col-sm-0 col-md-0"></div>
  <div class="col-xl-5 col-sm-12 col-md-12">
    <h3>Write a Review</h3>
    <form (ngSubmit)="addReview()" [formGroup]="reviewForm" class="review-form">
      <div class="form-group">
        <label for="rating">Rating:</label>
        <p-rating formControlName="score" [cancel]="false"></p-rating>
      </div>

      <div class="form-group">
        <label for="comment">Comment:</label>
        <textarea
          formControlName="title"
          id="comment"
          name="comment"
          required
        ></textarea>
      </div>

      <div class="form-group">
        <button type="submit" [disabled]="reviewForm.invalid">
          Submit Review
        </button>
      </div>
    </form>
  </div>
  <div class="col-xl-5 col-sm-12 col-md-12">
    <h2>Customer Reviews</h2>
    <div *ngFor="let review of reviewsList" class="review">
      <p>
        <strong>{{ review.user.fname + " " + review.user.lname }}</strong>
      </p>
      <p-rating
        [(ngModel)]="review.ratings"
        [cancel]="false"
        [readonly]="true"
      ></p-rating>
      <p>{{ review.title }}</p>
      <div *ngIf="user">
        <button
          class="btn btn-danger"
          *ngIf="review.user._id === user._id"
          (click)="deleteReview(review._id)"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>

<div class="my-modal" *ngIf="showModal">
  <div class="my-modal-header">
    <span class="my-modal-title">Product added to Cart</span>
    <button class="close-btn" (click)="closeModal()">&times;</button>
  </div>
  <div class="my-modal-body">
    <img [src]="product.images[0]" alt="" />
    <a routerLink="/cart" style="text-decoration: none">{{ product.title }}</a>
  </div>
</div>

<p-toast></p-toast>
