/* Start Product Details */
div {
  margin: 0;
}
.product-details {
  flex: 1;
  width: 100%;
}
.product-title {
  font-size: 20px;
  font-weight: bold;
  color: var(--yellow-alt-color);
}
.product-price {
  font-size: 24px;
  color: #007bff;
  margin-bottom: 20px;
}
.product-brand {
  font-size: 24px;
  color: var(--yellow-color);
  margin-bottom: 20px;
}
.product-brand img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.product-description {
  font-size: 16px;
  color: var(--yellow-color);
  font-size: 16px;
  margin-bottom: 20px;
  overflow-y: hidden;
}
/* Start Product Details */

/* Start Review */
.review {
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.review p {
  margin: 5px 0;
  color: var(--yellow-color);
}
.review-section {
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: var(--gray-alt-color);
}
.review-section h2 {
  margin-bottom: 20px;
  color: var(--yellow-alt-color);
}
.review-form h3 {
  margin-bottom: 10px;
  color: var(--yellow-alt-color);
}
.review-form label {
  color: var(--yellow-alt-color);
  display: block;
  margin-top: 10px;
}
.review-form textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  background-color: var(--gray-color);
  max-width: 600px;
}
.review-form button {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  display: block;
}
.review-form button:hover {
  background-color: #0056b3;
}
/* End Review */

.discount {
  background-color: yellow;
  border-radius: 50%;
  font-weight: bold;
  padding: 10px 5px;
  font-size: 15px;
  width: 40px;
  height: 40px;
}

/* Start Modal */
.my-modal {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 300px;
  background-color: #eee;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.03);
  z-index: 1000;
}
.my-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
  background-color: #f8f9fa;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.my-modal-title {
  font-size: 16px;
  font-weight: bold;
}
.close-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
.my-modal-body {
  padding: 10px;
  font-size: 14px;
  line-height: 1.5;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.my-modal-body a {
  margin-left: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.my-modal-body a:hover {
  transition: 0.3s;
  color: #027cff;
}
.my-modal-body p:first-child {
  height: 50px;
}
.my-modal-body img {
  width: 70px;
  height: 70px;
}
/* End Modal */
.gallery-image {
  width: 100%;
  object-fit: cover;
}
@media (max-width: 991px) {
  .gallery-image {
    height: 400px;
  }
  .product-price {
    font-size: 16px;
  }
}
@media (max-width: 641px) {
  .gallery-image {
    height: 300px;
  }
}
@media (max-width: 400px) {
  .gallery-image {
    height: 200px;
  }
}
i {
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
i:hover {
  color: red;
}
