<div class="card">
  <p-toolbar class="gap-2">
    <app-sidebar></app-sidebar>
    <ng-template pTemplate="left">
      <button
        pButton
        pRipple
        label="New"
        icon="pi pi-plus"
        class="p-button-success me-2"
        (click)="openNew()"
      ></button>
    </ng-template>
  </p-toolbar>

  <p-table
    #dt
    [value]="categories"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="['name', 'category.name']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="categories"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="caption">
      <div class="d-flex align-items-center justify-content-between">
        <h5 class="m-0">Manage categories</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            placeholder="Search..."
            (input)="onSearch($event)"
          />
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="ID" style="min-width: 15rem">
          ID <p-sortIcon field="ID"></p-sortIcon>
        </th>
        <th pSortableColumn="name" style="min-width: 15rem">
          Name <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th>Image</th>
        <th pSortableColumn="price">
          Description <p-sortIcon field="price"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-category>
      <tr>
        <td>
          {{ category._id }}
        </td>
        <td>{{ category.name }}</td>
        <td>
          <img
            [src]="category.image"
            [alt]="category.name"
            width="100"
            class="shadow-4"
          />
        </td>
        <td>
          {{ category.description }}
        </td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success me-2"
            (click)="openEdit(category)"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-warning"
            (click)="deleteCategory(category)"
          ></button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="summary">
      <div class="d-flex align-items-center justify-content-between">
        In total, there are {{ categories ? categories.length : 0 }} categorys.
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog
  [(visible)]="categoryDialog"
  [style]="{ width: '850px' }"
  header="Category Details"
  [modal]="true"
  class="p-fluid"
>
  <ng-template pTemplate="content">
    <form [formGroup]="categoryForm">
      <div *ngIf="categoryForm.value.image">
        <img [src]="categoryForm.value.image" width="25%" alt="" />
      </div>
      <div class="form-group">
        <input
          [ngClass]="{ 'is-invalid': f['name'].touched && f['name'].invalid }"
          placeholder="Category Name"
          formControlName="name"
          class="input"
          type="text"
          id="name"
        />
        <div
          *ngIf="f['name'].touched && f['name'].invalid"
          class="invalid-feedback"
        >
          <div *ngIf="f['name'].errors?.['required']">
            Category Name Required
          </div>
        </div>
      </div>

      <div class="form-group">
        <textarea
          id="description"
          placeholder="Category Description"
          formControlName="description"
        ></textarea>
      </div>

      <div class="form-group">
        <input
          [ngClass]="{ 'is-invalid': f['image'].touched && f['image'].invalid }"
          placeholder="Category image Url"
          formControlName="image"
          class="input"
          type="text"
          id="image"
        />
        <div
          *ngIf="f['image'].touched && f['image'].invalid"
          class="invalid-feedback"
        >
          <div *ngIf="f['image'].errors?.['required']">
            Category Image URL Required
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-center mt-2">
        <button
          [disabled]="categoryForm.invalid"
          class="btn btn-success mt-2"
          type="submit"
          (click)="submitEditCategory()"
          *ngIf="category.name"
        >
          Update
        </button>
        <button
          (click)="submitAddCategory()"
          [disabled]="categoryForm.invalid"
          class="btn btn-success mt-2"
          type="submit"
          *ngIf="!category.name"
        >
          Create
        </button>
      </div>
    </form>
  </ng-template>
</p-dialog>

