<div
  class="d-flex justify-content-center align-items-center"
  style="background-color: #f5f7fa; min-height: 90vh"
>
  <div
    class="card p-4 shadow-lg border-0 m-2"
    style="max-width: 400px; border-radius: 10px "
  >
    <h4 class="text-center mb-3">Forgot Password?</h4>
    <p class="text-center mb-4">
      We need your email address for you can access your account, then we'll
      send a recovery mail.
    </p>

    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group mb-3">
        <span class="p-input-icon-left w-100">
          <i class="pi pi-user"></i>
          <input
            id="email"
            type="email"
            formControlName="email"
            placeholder="Email"
            class="form-control pl-5"
          />
        </span>
        <div *ngIf="emailError" class="error-message text-danger mt-1">
          {{ emailError }}
        </div>
      </div>

      <button
        type="submit"
        pButton
        label="Send Recovery Mail"
        class="w-100 p-button-primary"
        [disabled]="forgotPasswordForm.invalid"
      ></button>
    </form>
  </div>
</div>
