<div class="parent" style="height: 90vh;">
  <div>
    <section class="error">
      <div class="error__content">
        <div class="error__message message">
          <h1 class="message__title">Page Not Found</h1>
          <p class="message__text">
            We're sorry, the page you were looking for isn't found here. The
            link you followed may either be broken or no longer exists. Please
            try again, or take a look at our.
          </p>
        </div>
        <div class="error__nav e-nav">
          <a routerLink="/home" class="e-nav__link"></a>
        </div>
      </div>
    </section>
  </div>
</div>
